.characters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 22%;
  margin: 10px;

  &__image {
    width: 250px;
    height: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
